@model NoteMarketPlace.viewModel.memberDetailsViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MarketPlace-admin</title>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--font awsome-->
    <link rel="stylesheet" type="text/css" href="/css/font-awsome/font-awesome.css">

    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

    <!--costume style-->
    <link rel="stylesheet" type="text/css" href="~/css/admin/admin-style.css" />
    <link rel="stylesheet" type="text/css" href="/css/dropdown/style(dropdown).css" />
    <link rel="stylesheet" type="text/css" href="/css/admin/admin-deshboard.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin/member-details.css" />
    <!--responsive style-->



</head>

<body>

    <!--header-->
    @Html.Partial("AdminNavbar")

    <section id="admin-deshboard-details">
        <div class="container-bga">
            <div class="container">
                <div class="row">

                    <!--heading-->
                    <div class="col-md-12">
                        <div class="w-admin-deshboard-heading">
                            <h4>Member Details</h4>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="w-img-members-details">
                            <div class="img-of-member-with-detials">
                                <img src="@Url.Content(Model.img)" class="img-fluid" alt="">
                            </div>
                            <div class="detailsOfMembers">
                                <div class="main-details-of-members">
                                    <div class="right-side-details-members">
                                        <p><span>First Name:</span>                 <span>@Model.basicInfo.FirstName</span></p>
                                        <p><span>Last Name:</span>                 <span>@Model.basicInfo.LastName</span></p>
                                        <p><span>Email:</span>                          <span>@Model.basicInfo.EmailID</span></p>
                                        <p><span>DOB:</span>                           @if (Model.profile != null){if (Model.profile.DOB != null){<span>@Model.profile.DOB</span>}}</p>
                                        <p><span>Phone Number:</span>        @if (Model.profile != null){if (Model.profile.PhoneNumber != null){<span>@Model.profile.PhoneNumber</span>}}</p>
                                        <p><span>college/university:</span>    @if (Model.profile != null){if (Model.profile.University != null){<span>@Model.profile.University</span>}}</p>
                                    </div>
                                </div>
                                <div class="other-details-of-members">
                                    <div class="right-side-details-members">
                                        <p><span>Address 1:</span>                 @if (Model.profile != null){<span>@Model.profile.AddressLine1</span>}</p>
                                        <p><span>Address 2:</span>                  @if (Model.profile != null){if (Model.profile.AddressLine2 != null){<span>@Model.profile.AddressLine2</span>}}</p>
                                        <p><span>City:</span>                             @if (Model.profile != null){<span>@Model.profile.City</span>}</p>
                                        <p><span>State:</span>                          @if (Model.profile != null){<span>@Model.profile.State</span>}</p>
                                        <p><span>Country:</span>                    @if (Model.profile!= null){<span>@Model.profile.Country</span>}</p>
                                        <p><span>zip Code:</span>                    @if (Model.profile != null){<span>@Model.profile.ZipCode</span>}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--published notes-->
    <section id="published-notes">
        <div class="container-bgs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="w-heading-searchbar">

                            <div class="small-heading">
                                <h5>Notes</h5>
                            </div>
                        </div>
                    </div>

                    <!--table-->
                    <div class="col-md-12">
                        <div class="w-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">SR NO.</th>
                                        <th scope="col">@Html.ActionLink("NOTE TITLE", "memberDetails", new { memberID = Model.basicInfo.id, sortBy = "NOTETITLE", sortOrder = ViewBag.sortOrder == null ? "dsc" : ((@ViewBag.sortOrder == "asc") ? "dsc" : "asc"), searchtext = @ViewBag.searchtext })</th>
                                        <th scope="col">@Html.ActionLink("CATEGOTY", "memberDetails", new { memberID = Model.basicInfo.id, sortBy = "CATEGOTY", sortOrder = ViewBag.sortOrder == null ? "dsc" : ((@ViewBag.sortOrder == "asc") ? "dsc" : "asc"), searchtext = @ViewBag.searchtext })</th>
                                        <th scope="col">@Html.ActionLink("STATUS", "memberDetails", new { memberID = Model.basicInfo.id, sortBy = "STATUS", sortOrder = ViewBag.sortOrder == null ? "dsc" : ((@ViewBag.sortOrder == "asc") ? "dsc" : "asc"), searchtext = @ViewBag.searchtext })</th>
                                        <th scope="col">DOWNLOAD NOTES</th>
                                        <th scope="col">@Html.ActionLink("TOTAL EARNINGS", "memberDetails", new { memberID = Model.basicInfo.id, sortBy = "TOTALEARNINGS", sortOrder = ViewBag.sortOrder == null ? "dsc" : ((@ViewBag.sortOrder == "asc") ? "dsc" : "asc"), searchtext = @ViewBag.searchtext })</th>
                                        <th scope="col">@Html.ActionLink("DATE ADDED", "memberDetails", new { memberID = Model.basicInfo.id, sortBy = "DATEADDED", sortOrder = ViewBag.sortOrder == null ? "dsc" : ((@ViewBag.sortOrder == "asc") ? "dsc" : "asc"), searchtext = @ViewBag.searchtext })</th>
                                        <th scope="col">@Html.ActionLink("PUBLISH DATE", "memberDetails", new { memberID = Model.basicInfo.id, sortBy = "PUBLISHDATE", sortOrder = ViewBag.sortOrder == null ? "dsc" : ((@ViewBag.sortOrder == "asc") ? "dsc" : "asc"), searchtext = @ViewBag.searchtext })</th>
                                        <th scope="col" class="footag"><p>do</p></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int srno = ((ViewBag.currentPage - 1) * 5);
                                        foreach (var item in Model.notes)
                                        {
                                            srno++;
                                            <tr class="hover-effect">
                                                <td>@srno</td>
                                                <td><a href="@Url.Action("AdminNoteDetails","Home",new { noteID=item.noteID})">@item.Title</a></td>
                                                <td>@item.category</td>
                                                <td>@item.status</td>
                                                <td><a class="dropdown-item" href="@Url.Action("downloadNOte","admin",new { noteID=item.noteID})">@item.downloadNote</a> </td>
                                                <td>$@item.totalEarning</td>
                                                <td>@item.dateAdded.ToString("dd-MM-yyyy, hh:mm")</td>

                                                <td>
                                                    @if (item.publishedDate != null)
                                                    {
                                                        <span>@item.publishedDate.Value.ToString("dd-MM-yyyy, hh:mm")</span>
                                                    }
                                                    else
                                                    {
                                                        <span>NA</span>
                                                    }
                                                </td>

                                                <td class="action-logo">
                                                    <div class="btn-group dropleft">
                                                        <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <img src="/images/dashboard/three-dots.png" />
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="@Url.Action("downloadNOte","admin",new { noteID=item.noteID})">Download Note</a>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }


                                </tbody>
                            </table>
                            @if (srno == 0)
                            {
                                <h4 style="color:#6255a5; text-align:center;">No record found</h4>
                            }
                        </div>
                    </div>

                    <!--navigation bar-->
                    <div class="col-md-12 col-sm-12 col-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link first" href="@Url.Action("memberDetails", "admin", new {memberID=Model.basicInfo.id, sortOrder = (ViewBag.sortOrder == null) ? "dsc" : ViewBag.sortOrder, sortBy = (ViewBag.sortBy == null) ? "DATE" : ViewBag.sortBy, searchtext = @ViewBag.searchtext, currentPage = (ViewBag.currentPage == null) ? 1 : (ViewBag.currentPage == 1) ? 1 : (ViewBag.currentPage - 1) })" aria-label="Previous">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                @{
                                    int from = (int)(ViewBag.currentPage - 2);
                                    int to = (int)(ViewBag.currentPage + 2);
                                    from = (int)Math.Max(1, from);
                                    to = (int)Math.Min(to, ViewBag.TotalPage);
                                    if (ViewBag.TotalPage - to == 1)
                                    {
                                        to = (int)ViewBag.TotalPage;
                                    }
                                    if (from > 1)
                                    {

                                        <li class="page-item"><a class="page-link" href="@Url.Action("memberDetails", "admin", new {memberID=Model.basicInfo.id, sortOrder = (ViewBag.sortOrder == null) ? "dsc" : ViewBag.sortOrder, sortBy = (ViewBag.sortBy == null) ? "DATE" : ViewBag.sortBy, searchtext = @ViewBag.searchtext, currentPage = 1})">1</a></li>

                                        if (from > 2)
                                        {
                                            var middleNumber = (int)Math.Ceiling((double)(from - 2) / 2) + 1;
                                            <li><a class="page-link" href="@Url.Action("memberDetails", "admin", new { memberID=Model.basicInfo.id,sortOrder = (ViewBag.sortOrder == null) ? "dsc" : ViewBag.sortOrder, sortBy = (ViewBag.sortBy == null) ? "DATE" : ViewBag.sortBy, searchtext = @ViewBag.searchtext, currentPage = middleNumber})">..</a></li>

                                        }
                                    }
                                    for (int J = from; J <= to; J = J + 1)
                                    {
                                        if (ViewBag.currentPage == J)
                                        {
                                            <li class="page-item"><a class="page-link active" href="@Url.Action("memberDetails", "admin", new {memberID=Model.basicInfo.id, sortOrder = (ViewBag.sortOrder == null) ? "dsc" : ViewBag.sortOrder, sortBy = (ViewBag.sortBy == null) ? "DATE" : ViewBag.sortBy, searchtext = @ViewBag.searchtext, currentPage = J})">@J</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item"><a class="page-link" href="@Url.Action("memberDetails", "admin", new { memberID=Model.basicInfo.id,sortOrder = (ViewBag.sortOrder == null) ? "dsc" : ViewBag.sortOrder, sortBy = (ViewBag.sortBy == null) ? "DATE" : ViewBag.sortBy, searchtext = @ViewBag.searchtext, currentPage = J})">@J</a></li>
                                        }
                                    }
                                    if (to < ViewBag.TotalPage)
                                    {
                                        int middelNumber = (int)Math.Ceiling((double)(ViewBag.TotalPage - to) / 2) + to;
                                        <li class=""><a class="page-link" href="@Url.Action("memberDetails", "admin", new {memberID=Model.basicInfo.id, sortOrder = (ViewBag.sortOrder == null) ? "dsc" : ViewBag.sortOrder, sortBy = (ViewBag.sortBy == null) ? "DATE" : ViewBag.sortBy, searchtext = @ViewBag.searchtext, currentPage = middelNumber})">..</a></li>

                                        if (to < ViewBag.TotalPage - 1)
                                        {

                                            <li class="page-item"><a class="page-link" href="@Url.Action("memberDetails", "admin", new {memberID=Model.basicInfo.id, sortOrder = (ViewBag.sortOrder == null) ? "dsc" : ViewBag.sortOrder, sortBy = (ViewBag.sortBy == null) ? "DATE" : ViewBag.sortBy, searchtext = @ViewBag.searchtext, currentPage = ViewBag.TotalPage })">@ViewBag.TotalPage</a></li>

                                        }
                                    }

                                }


                                <li class="page-item">
                                    <a class="page-link first" href="@Url.Action("memberDetails", "admin",new {memberID=Model.basicInfo.id,sortOrder=(ViewBag.sortOrder==null)?"dsc":ViewBag.sortOrder, sortBy=(ViewBag.sortBy==null)?"DATE":ViewBag.sortBy,  searchtext= @ViewBag.searchtext , currentPage=(ViewBag.currentPage==null)?1:(ViewBag.currentPage==ViewBag.TotalPage)?ViewBag.TotalPage:(ViewBag.currentPage+1)})" aria-label="Next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>


                </div>
            </div>
        </div>
    </section>



    <!--footer-->
    <footer class="fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="w-footer">
                        <p><span class="version-footer">Version:1.1.24</span><span class="rights-description">Copyright &copy; TatvaSoft All rights reserved</span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    <!--jquery-->
    <script src="/javascript/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    <!--bootstrap-->
    <script src="/javascript/bootstrap.js"></script>

    <!--costume script-->
    <script src="/javascript/admin-navbar/admin-script.js"></script>
</body>
</html>
