@model NoteMarketPlace.viewModel.NoteDetailsViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MarketPlace</title>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--font awsome-->
    <link rel="stylesheet" type="text/css" href="/css/font-awsome/font-awesome.css">

    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

    <!--costume style-->
    <link rel="stylesheet" type="text/css" href="/css/user-profile/style(user-profile).css" />
    <link rel="stylesheet" type="text/css" href="/css/note-page/style(note-page).css" />
    <link rel="stylesheet" type="text/css" href="/css/dropdown/style(dropdown).css"/>

    <!--responsive style-->
    <link rel="stylesheet" type="text/css" href="/css/responsive/note-page/responsive(note-page).css" />

</head>
<body>

    <!--header-->
    @if (User.Identity.IsAuthenticated && (User.IsInRole("Super Admin") || User.IsInRole("admin") || User.IsInRole("user")))
    {
        if (User.Identity.IsAuthenticated && (User.IsInRole("Super Admin") || User.IsInRole("admin")))
        {
            @Html.Partial("AdminNavbar")

        }
        else
        {
            @Html.Partial("_navabrAuthenticat")

        }

    }

    <!--note-details-->
    @using (Html.BeginForm("Note_details", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.sellerNote.id)
        <section id="note-details-deep">
            <div class="container-bgs">
                <div class="container">
                    <div class="row">

                        <!--heading 1-->
                        <div class="col-md-12">
                            <div class="w-sub-heading">
                                <h5>Notes Details</h5>
                            </div>
                        </div>

                        <!--notes details in deep-->
                        <div class="col-md-12">
                            <div class="w-deep-details">
                                <div class="row">

                                    <!--cover page-->
                                    <div class="col-lg-2 col-md-3 col-sm-12 col-12 ">
                                        @if (Model.Imgpath != null)
                                        {
                                            <div class="cover-page">
                                                <img src="@Url.Content(Model.Imgpath)" class="img-fluid Note-detail-coverPage">
                                            </div>
                                        }


                                    </div>

                                    <!--about book-->
                                    <div class="col-lg-5  col-md-9  col-sm-12  col-12">
                                        <div class="about-book">
                                            <h4>@Model.sellerNote.Title</h4>
                                            <h6>@Model.sellerNote.NoteCategory.Name</h6>
                                            <p> @Model.sellerNote.Description</p>

                                            @if (ViewBag.visited != null)
                                            {
                                                if (Model.sellerNote.IsPaid == true)
                                                {
                                                    <div class="w-download-btn">
                                                        <button disabled type="button" class="btn download-btn" data-toggle="modal" data-target="#exampleModal">DOWNLOAD/$@Model.sellerNote.SellingPrice</button>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="w-download-btn">
                                                        <button type="submit" class="btn download-btn">DOWNLOAD</button>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                if (ViewBag.AdminView != null)
                                                {
                                                    @Html.HiddenFor(m => m.sellerNote.CreatedDate)
                                                    <div class="w-download-btn">
                                                        <button type="submit" class="btn download-btn">DOWNLOAD</button>
                                                    </div>
                                                }
                                                else if (Model.sellerNote.IsPaid == true)
                                                {
                                                    <div class="w-download-btn">
                                                        <button type="button" class="btn download-btn" data-toggle="modal" data-target="#exampleModal">DOWNLOAD/$@Model.sellerNote.SellingPrice</button>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="w-download-btn">
                                                        <button type="submit" class="btn download-btn">DOWNLOAD</button>
                                                    </div>
                                                }
                                            }




                                        </div>
                                    </div>

                                    <div class="col-lg-5 col-md-12">
                                        <div class="biodata-of-note">
                                            @if (Model.sellerNote.UniversityName != null)
                                            {
                                                <p><span>Institution:</span><span class="float-right">@Model.sellerNote.UniversityName</span></p>

                                            }
                                            else
                                            {
                                                <p><span>Institution:</span><span class="float-right"></span></p>

                                            }
                                            @if (Model.sellerNote.Country != null)
                                            {
                                                <p><span>country:</span><span class="float-right">@Model.sellerNote.Country1.Name</span></p>

                                            }
                                            else
                                            {
                                                <p><span>country:</span><span class="float-right"></span></p>

                                            }
                                            @if (Model.sellerNote.Course != null)
                                            {
                                                <p><span>course Name:</span><span class="float-right">@Model.sellerNote.Course</span></p>

                                            }
                                            else
                                            {
                                                <p><span>course Name:</span><span class="float-right"></span></p>

                                            }
                                            @if (Model.sellerNote.CourseCode != null)
                                            {
                                                <p><span>Course code:</span><span class="float-right">@Model.sellerNote.CourseCode</span></p>

                                            }
                                            else
                                            {
                                                <p><span>Course code:</span><span class="float-right"></span></p>

                                            }
                                            @if (Model.sellerNote.Professor != null)
                                            {
                                                <p><span>Professor:</span><span class="float-right">@Model.sellerNote.Professor</span></p>

                                            }
                                            else
                                            {
                                                <p><span>Professor:</span><span class="float-right"></span></p>

                                            }
                                            @if (Model.sellerNote.NumberOfPages != null)
                                            {
                                                <p><span>Number of Pages:</span><span class="float-right">@Model.sellerNote.NumberOfPages</span></p>

                                            }
                                            else
                                            {
                                                <p><span>Number of Pages:</span><span class="float-right"></span></p>

                                            }
                                            @if (Model.sellerNote.Status == 4 && @Model.sellerNote.PublishedDate != null)
                                            {
                                                <p><span>Approved Date:</span><span class="float-right">@Model.sellerNote.PublishedDate.Value.ToString("MMMM dd yyyy")</span></p>

                                            }
                                            else
                                            {
                                                <p><span>Approved Date:</span><span class="float-right"></span></p>

                                            }
                                            <div class="rating-span">
                                                <span><p>rating:</p></span>
                                                <div class="float-right through-line">
                                                    <div class="rate">
                                                        @for (int i = 1; i <= 5; i++)
                                                        {
                                                            if (i <= Model.overallRating)
                                                            {
                                                                <Span><i style="color:#ffc700;" class="fa fa-star"></i></Span>

                                                            }
                                                            else
                                                            {
                                                                <span><i style="color:#ccc;" class="fa fa-star"></i></span>

                                                            }

                                                        }
                                                    </div>
                                                    @if (Model.TotalReview != 0)
                                                    {
                                                        <p>@Model.TotalReview reviews</p>
                                                    }
                                                    else
                                                    {
                                                        <p>0 reviews</p>

                                                    }
                                                </div>

                                            </div>
                                            @if (Model.Inappropriate != 0)
                                            {
                                                <p class="review">@Model.Inappropriate user mark this note as inappropriate</p>
                                            }
                                            else
                                            {
                                                <p class="review">0 user mark this note as inappropriate</p>

                                            }
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--note prereview-->
                        <div class="col-md-12 col-lg-6">
                            <div class="w-note-preview">
                                <div class="row">

                                    <!--heading 2-->
                                    <div class="col-md-12">
                                        <div class="w-sub-heading">
                                            <h5>Note preview</h5>
                                        </div>
                                    </div>

                                    <!-- responsive iframe -->
                                    <!-- ============== -->
                                    <div class="col-md-12">


                                        <div id="Iframe-Cicis-Menu-To-Go" class="set-margin-cicis-menu-to-go set-padding-cicis-menu-to-go set-border-cicis-menu-to-go set-box-shadow-cicis-menu-to-go center-block-horiz">
                                            <div class="responsive-wrapper responsive-wrapper-padding-bottom-90pct" style="-webkit-overflow-scrolling: touch; overflow: hidden ">
                                                @if (Model.sellerNote.NotesPreview != null)
                                                {
                                                    <iframe src="@Url.Content(Model.sellerNote.NotesPreview)">
                                                    </iframe>
                                                }
                                                else
                                                {
                                                    <iframe src="">
                                                    </iframe>
                                                }

                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>

                        <!--costumer review-->
                        <div class="col-md-12 col-lg-6">
                            <div class="w--costumer-review">
                                <div class="row">

                                    <!--heading 3-->
                                    <div class="col-md-12">
                                        <div class="w-sub-heading">
                                            <h5>costumer Reviews</h5>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="w-costumer-content">
                                            <div class="row no-gutters">
                                                @{ int Count = 0;}
                                                @foreach (var item in Model.reviewLists)
                                                {
                                                    Count++;
                                                    <div class="col-md-12">
                                                        <div class="througn-into-flex">
                                                            <div class="w-costumer-img">

                                                                <img src="@Url.Content(item.profileImagePathP)" class="rounded-circle">


                                                            </div>



                                                            <div class="w-coment">
                                                                <h6>
                                                                    @item.fullName
                                                                    @if (ViewBag.AdminView != null)
                                                                    {
                                                                        <span class="pull-right"><a href="@Url.Action("AdminDeleteReview","Home",new { ReviewID=item.ReviewID, noteID=@Model.sellerNote.id})"><img class="img-fluid" src="/images/dashboard/delete-use.png" /></a></span>
                                                                    }

                                                                </h6>
                                                                <div class="star">
                                                                    <div class="rate">
                                                                        @for (int i = 1; i <= 5; i++)
                                                                        {
                                                                            if (i <= item.rating)
                                                                            {
                                                                                <span><i style="color:#ffc700;" class="fa fa-star"></i></span>

                                                                            }
                                                                            else
                                                                            {
                                                                                <span><i style="color:#ccc;" class="fa fa-star"></i></span>

                                                                            }

                                                                        }
                                                                    </div>
                                                                </div>
                                                                <p>@item.comments </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    if (Count != Model.TotalReview)
                                                    {
                                                        <hr>
                                                    }


                                                }

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            @*before confirmation*@
            <div class="w-model-add-review">
                <div class="modal fade my_modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                    <span aria-hidden="true">&times;</span>

                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">

                                    <p>
                                        Are you sure you want to download this Paid note. Please confirm.
                                    </p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="w-submit-btn">

                                    <button type="submit" @*data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" aria-label="Close"*@ onclick="$('.my_modal').modal('hide');" name="btn" value="btnPublish" class="submit-btn text-center float-left">YES</button>
                                    <button name="btn" value="btnCancel" data-dismiss="modal" aria-label="Close" class="submit-btn text-center" href="">NO</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*after confirmation*@
            <div class="modal fade my_model2" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="varified-img text-center img-fluid">
                                <img src="/images/Notes-Details/SUCCESS.png" class="mx-auto">
                                <h5>Thank you for Purchasing</h5>
                            </div>
                            <div class="message">
                                <h6>Dear @ViewBag.buyerName,</h6>
                                <p class="first">As this is paid notes - you need to pay to seller @ViewBag.sellerFullName offline. we will send him an email that you want to download this note. he may contact you further for payment process completion.</p>

                                <p>incase, you have urgency,</p>
                                <p>Please contact us on +919537784614.</p>

                                <p>once he receives the payment and acknoeledge us - selected notes you can see over my downloads tab for download.</p>

                                <p class="last">have a good day.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    }
    <!--footer-->
    @Html.Partial("footer")




















    <!--jquery-->
    <script src="/javascript/jquery/jquery.js"></script>

    <!--bootstrap-->
    <script src="/javascript/bootstrap.js"></script>

    <!--costume script-->
    <script src="/javascript/user-profile/user-profile.js"></script>
    @if (ViewBag.forpopupModel != null)
    {
        <script>

            $(document).ready(function () {
                $('.my_model2').modal('show');
            });

        </script>
    }
</body>
</html>