
@model NoteMarketPlace.viewModel.SearchNoteUniConCouCateType
@{
    ViewBag.Title = "Serch_note";
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MarketPlace</title>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--font awsome-->
    <link rel="stylesheet" type="text/css" href="/css/font-awsome/font-awesome.css">

    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!--costume style-->
    <link rel="stylesheet" type="text/css" href="/css/user-profile/style(user-profile).css" />

    <!--responsive style-->
    <link rel="stylesheet" type="text/css" href="/css/responsive/user-profile/responsive(user-profile).css" />
    <link rel="stylesheet" type="text/css" href="/css/serch-note/style(serch-notes2.0).css" />

    <link rel="stylesheet" type="text/css" href="/css/responsive/serch-note/responsive(serch-notes).css" />
    @if (User.Identity.IsAuthenticated)
    {
        
        <link rel="stylesheet" type="text/css" href="/css/dropdown/style(dropdown).css" />

    }
</head>
<body>


    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_navabrAuthenticat")
    }
    else
    {
        @Html.Partial("_navbar")

    }
    <!--banner-->
    <section id="user-banner">
        <div class="w-user-banner">
            <div class="user-heading text-center">
                <h1>Serch Notes</h1>
            </div>
        </div>

    </section>

    <!--serch bar-->
    <section id="serch-bar">
        <div class="container-bgs">
            <div class="container">
                <div class="row">

                    <!--heading-->
                    <div class="col-md-12">
                        <div class="top-left-hading">
                            <h5>Serch and Filter notes</h5>
                        </div>
                    </div>

                    <!--serch bar and filter-->
                    <div class="col-md-12">
                        <div class="w-serch-filter">
                            <div class="row">
                                  <!--serch pannle-->
                                    <div class="col-md-12">
                                        <div class="w-serch-pannle" data-location="http://place.com">
                                            <input   type="text" class="form-control" id="searchBook" name="searchText" placeholder="Serch notes here">
                                            @*@Html.EditorFor(m => m.searchText, new { htmlAttributes = new { type = "text", id = "searchBook", placeholder = "Serch notes here", @class = "form-control" } })*@
                                        </div>
                                    </div>
                                
                                
                                <!--filter pannle 1-->
                                <div class="col-md-12">
                                    <div class="w-filter-pannle">
                                        <div class="row">

                                            <div class="col-md-4 col-6 col-lg-2">
                                                @*<select class="custom-select" id="validationDefault02" required>
                                                        <option selected disabled value="">select type</option>
                                                        <option>...</option>
                                                    </select>*@

                                                @Html.DropDownListFor(m => m.typ, new SelectList(Model.noteType, "Name", "Name"), "Select Note Type", new {id="type", @class = "custom-select form-control" })

                                            </div>

                                            <!--filter pannle 2-->
                                            <div class="col-md-4 col-lg-2 col-6">
                                                @*<select class="custom-select" id="validationDefault03" required>
                                                        <option selected disabled value="">select category</option>
                                                        <option>...</option>
                                                    </select>*@

                                                @Html.DropDownListFor(m => m.catgry, new SelectList(Model.noteCategory, "Name", "Name"), "Select Note Category", new { id = "category", @class = "custom-select form-control" })


                                            </div>

                                            <!--filter pannle 3-->
                                            <div class="col-md-4 col-lg-2 col-6">
                                                @*<select class="custom-select" id="validationDefault04" required>
                                                        <option selected disabled value="">Select university</option>
                                                        <option>...</option>
                                                    </select>*@

                                                @Html.DropDownListFor(m => m.unvrsty, Model.university, "Select Note University", new { id = "university", @class = "custom-select form-control" })

                                            </div>

                                            <!--filter pannle 4-->
                                            <div class="col-md-4 col-lg-2 col-6">
                                                @*<select class="custom-select" id="validationDefault05" required>
                                                        <option selected disabled value="">Select course</option>
                                                        <option>...</option>
                                                    </select>*@
                                                @Html.DropDownListFor(m => m.cors, Model.Cource, "Select Courses", new { id = "course", @class = "custom-select form-control" })

                                            </div>

                                            <!--filter pannle 5-->
                                            <div class="col-md-4 col-lg-2 col-6">
                                                @*<select class="custom-select" id="validationDefault06" required>
                                                        <option selected disabled value="">Select country</option>
                                                        <option>...</option>
                                                    </select>*@
                                                @Html.DropDownListFor(m => m.cntry, new SelectList(Model.country, "Name", "Name"), "Select Country", new { id = "country", @class = "custom-select form-control" })

                                            </div>

                                            <!--filter pannle 6-->
                                            <div class="col-md-4 col-lg-2 col-6">
                                                @*<select class="custom-select" id="validationDefault07" required>
                                                        <option selected disabled value="">Select rating</option>
                                                        <option>...</option>
                                                    </select>*@
                                                @Html.DropDownListFor(m => m.rtng, Model.rating, "Select Rating", new { id = "rating", @class = "custom-select form-control" })

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--section slider-->
    <section id="notes-slider">
        <div class="container-bgs">
            <div class="container">
                <div class="row importContainer">

                    @Html.Action("allNotes")

                </div>
    </section>

    <!--footer-->

    @Html.Partial("footer")
    
    <!--jquery-->
    <script src="/javascript/jquery/jquery.js"></script>

    <!--bootstrap-->
    <script src="/javascript/bootstrap.js"></script>

    <!--costume script-->
    <script src="/javascript/user-profile/user-profile.js"></script>

    <script>


        $(document).ready(function () {
            //$("div").click(function () {
            //    var url = $(this).attr("data-action");
            //    if (url !== undefined) {
            //        window.location.href = url;
            //    }
            //});

            $(document).on("click", ".pagenum",function () {
                var currentnum = $("#backward").data("value");
                var totalPage = $("#foreward").data("value");
                var page;
                if ($(this).attr("name") == "forward" || $(this).attr("name") == "backward") {
                    if ($(this).attr("name") == "forward") {
                        page = Math.ceil((totalPage - (currentnum + 2)) / 2) + (currentnum + 2);
                        console.log(page);
                    }
                    if ($(this).attr("name") == "backward") {
                       
                        page = Math.ceil((currentnum - 4) / 2) + 1;
                        console.log(page);
                    }
                }
                else if ($(this).attr("name") == "back" || $(this).attr("name") == "next") {
                    if ($(this).attr("name") == "back") {
                        if (currentnum > 1) {
                            page = currentnum - 1;
                        }
                        if (currentnum == 1) {
                            page = 1;
                        }
                    }
                    if ($(this).attr("name") == "next") {
                        if (currentnum < totalPage) {
                            page = currentnum + 1;
                        }
                        if (currentnum == totalPage) {
                            page = totalPage;
                        }
                    }
                }
                else {
                    page = $(this).text();
                }
                var text = $("#searchBook").val();
                var type = $("#type").val();
                var rating = $("#rating").val();
                var country = $("#country").val();
                var course = $("#course").val();
                var university = $("#university").val();
                var category = $("#category").val();
                var obj = {
                    searchText: text,
                    typ: type,
                    catgry: category,
                    rtng: rating,
                    cntry: country,
                    cors: course,
                    unvrsty: university,
                    pagenumber: page
                }
                PostMethod(obj);
            });

            $("#searchBook,#type,#country,#course,#university,#category").on('change keyup paste', function () {
                //$("#form1").submit();
                var text = $("#searchBook").val();
                var type = $("#type").val();
                var rating = $("#rating").val();
                var country = $("#country").val();
                var course = $("#course").val();
                var university = $("#university").val();
                var category = $("#category").val();
                var obj = {
                    searchText: text,
                    typ: type,
                    catgry: category,
                    rtng: rating,
                    cntry: country,
                    cors: course,
                    unvrsty: university
                }
                PostMethod(obj);
            });

        });



        function PostMethod(obj) {
            $.ajax({
                url: "/Home/allNotes",
                type: 'POST',
                data: obj,
                success: function (response) {
                    $(".importContainer").html(response);
                }
            });
            return false;
        }
    </script>
</body>
</html>
