@model NoteMarketPlace.viewModel.addAdministratorViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MarketPlace-admin</title>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--font awsome-->
    <link rel="stylesheet" type="text/css" href="/css/font-awsome/font-awesome.css">

    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

    <!--costume style-->
    <link rel="stylesheet" type="text/css" href="/css/user-profile/style(user-profile).css" />
    <link rel="stylesheet" type="text/css" href="~/css/admin/admin-style.css" />
    <link rel="stylesheet" type="text/css" href="/css/dropdown/style(dropdown).css" />
    <link rel="stylesheet" type="text/css" href="/css/admin/add-category.css" />

    <!--responsive style-->



</head>

<body>

    <!--header-->
    @Html.Partial("AdminNavbar")


    @using (Html.BeginForm("Addadministrator", "SuperAdmin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.memberID)
        <section id="profile-details">
            <div class="big-container">

                <div class="container">
                    <div class="row">

                        <!--heading-->
                        <div class="col-md-12">
                            <div class="heading-of-basics">

                                <h2>Add Administrator</h2>

                            </div>
                        </div>

                        <!--first name-->
                        <div class="col-md-6 col-sm-12">

                            <div class="form-group">
                                @*<label for="First-Name">First Name*</label>
                                    <input id="First-Name" type="text" class="form-control" placeholder="Enter your first name">*@
                                @Html.LabelFor(m => m.FirstName)
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "First-Name", @placeholder = "Enter first name" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <!--last name-->
                        <div class="col-md-6 col-sm-12">

                            <div class="form-group">
                                @*<label for="Last-Name">Last Name*</label>
                                    <input id="Last-Name" type="text" class="form-control" placeholder="Enter your last name">*@
                                @Html.LabelFor(m => m.Lastname)
                                @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control", @id = "last-Name", @placeholder = "Enter last name" })
                                @Html.ValidationMessageFor(m => m.Lastname, "", new { @class = "text-danger" })

                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <!--email-->
                        <div class="col-md-6 col-sm-12">

                            <div class="form-group">
                                @*<label for="Email-address">Email*</label>
                                    <input id="Email-address" type="email" class="form-control" placeholder="Enter your email address">*@
                                @Html.LabelFor(m => m.EmailID)
                                @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", @placeholder = "Enter email address" })
                                @Html.ValidationMessageFor(m => m.EmailID, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>



                    <div class="row">
                        <!--phone number-->
                        <div class="col-md-6 col-sm-12">
                            <div class="with-label-container">
                                @*<label for="phoneNumber">phone number</label>*@
                                @Html.LabelFor(m => m.phoneNUmber)
                                <div class="without-label-container">
                                    <div class="drop-down-number">
                                        @*<select class="custom-select" id="phoneNumber" required>
                                            <option selected disabled value="">+91</option>
                                            <option>...</option>
                                        </select>*@
                                        @Html.DropDownListFor(m => m.PhonCode, new SelectList(Model.allCode as System.Collections.IEnumerable, "text", "value"), "..", new { @class = "custom-select" })
                                    </div>
                                    <div class="input-for-number">
                                        @*<input type="text" class="form-control" id="phoneNumber" placeholder="Enter your phone number">*@
                                        @Html.TextBoxFor(m => m.phoneNUmber, new { @class = "form-control", @id = "inputgender", @placeholder = "Enter phone number" })
                                        @Html.ValidationMessageFor(m => m.phoneNUmber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-2 col-4 offset-4 col-md-3 offset-md-0 offset-sm-4 col-sm-4">
                            <div class="w-submit-btn">

                                <button class="submit-btn text-center" role="button">SUBMIT</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }

    <!--footer-->
    <footer class="fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="w-footer">
                        <p><span class="version-footer">Version:1.1.24</span><span class="rights-description">Copyright &copy; TatvaSoft All rights reserved</span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--jquery-->
    <script src="/javascript/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    <!--bootstrap-->
    <script src="/javascript/bootstrap.js"></script>

    <!--costume script-->
    <script src="/javascript/admin-navbar/admin-script.js"></script>
</body>
</html>
