@model NoteMarketPlace.viewModel.systemConfigurationViewmodel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MarketPlace-admin</title>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--font awsome-->
    <link rel="stylesheet" type="text/css" href="/css/font-awsome/font-awesome.css">

    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

    <!--costume style-->
    <link rel="stylesheet" type="text/css" href="/css/user-profile/style(user-profile).css" />
    <link rel="stylesheet" type="text/css" href="~/css/admin/admin-style.css" />
    <link rel="stylesheet" type="text/css" href="/css/dropdown/style(dropdown).css" />
    <link rel="stylesheet" type="text/css" href="/css/admin/add-category.css" />

    <!--responsive style-->



</head>

<body>

    <!--header-->
    @Html.Partial("AdminNavbar")

    @using (Html.BeginForm("systemConfiguration", "SuperAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.DefaultNoteDisplayPicture)
        @Html.HiddenFor(m=>m.DefaultProfilePicture)
        <section id="profile-details">
            <div class="big-container">

                <div class="container">
                    <div class="row">

                        <!--heading-->
                        <div class="col-md-12">
                            <div class="heading-of-basics">

                                <h2>Manage System Configuration</h2>

                            </div>
                        </div>

                        <!--first name-->
                        <div class="col-md-6 col-sm-12">

                            <div class="form-group">
                                @*<label for="Support-Email-Address">Support Email Address*</label>*@
                                @Html.LabelFor(m => m.Semail)
                                @Html.TextBoxFor(m => m.Semail, new { @id = "Support-Email-Address", @class = "form-control", @placeholder = "Enter Email address", @required = "required" })
                                @Html.ValidationMessageFor(m => m.Semail, "", new { @class = "text-danger" })
                                @*<input id="Support-Email-Address" type="text" class="form-control" placeholder="Enter Email address">*@

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <!--last name-->
                        <div class="col-md-6 col-sm-12">

                            <div class="form-group">
                                @Html.LabelFor(m => m.ScontactNo)
                                @Html.TextBoxFor(m => m.ScontactNo, new { @id = "Support-Email-Address", @class = "form-control", @placeholder = "Enter phone Number", @required = "required" })
                                @Html.ValidationMessageFor(m => m.ScontactNo, "", new { @class = "text-danger" })

                                @*<label for="Support-Phone-NUmber">Support Phone NUmber*</label>
                                    <input id="Support-Phone-NUmber" type="text" class="form-control" placeholder="Enter phone Number">*@
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <!--email-->
                        <div class="col-md-6 col-sm-12">

                            <div class="form-group">
                                @Html.LabelFor(m => m.Aemail)
                                @Html.TextBoxFor(m => m.Aemail, new { @id = "Support-Email-Address", @class = "form-control", @placeholder = "Enter email address", @required = "required" })
                                @Html.ValidationMessageFor(m => m.Aemail, "", new { @class = "text-danger" })

                                @*<label for="Email address(es)">Email address(es)(for various event system will send Notification to these User)*</label>
                                    <input id="Email address(es)" type="email" class="form-control" placeholder="Enter email address">*@
                            </div>

                        </div>
                    </div>

                    <idv class="row">
                        <!--secondry email-->
                        <div class="col-md-6 col-sm-12">

                            <div class="form-group">
                                @Html.LabelFor(m => m.Facebook)
                                @Html.TextBoxFor(m => m.Facebook, new { @id = "Support-Email-Address", @class = "form-control", @placeholder = "Enter Facebook URL" })
                                @Html.ValidationMessageFor(m => m.Facebook, "", new { @class = "text-danger" })

                                @*<label for="Facebook-URL">Facebook URL</label>
                                    <input id="Facebook-URL" type="email" class="form-control" placeholder="Enter Facebook URL">*@
                            </div>

                        </div>
                    </idv>

                    <idv class="row">
                        <!--secondry email-->
                        <div class="col-md-6 col-sm-12">

                            <div class="form-group">
                                @Html.LabelFor(m => m.twitter)
                                @Html.TextBoxFor(m => m.twitter, new { @id = "Support-Email-Address", @class = "form-control", @placeholder = "Enter twitter URL" })
                                @Html.ValidationMessageFor(m => m.twitter, "", new { @class = "text-danger" })

                                @*<label for="Twitter-URL">Twitter URL</label>
                                    <input id="Twitter-URL" type="email" class="form-control" placeholder="Enter Twitter URL">*@
                            </div>

                        </div>
                    </idv>

                    <idv class="row">
                        <!--secondry email-->
                        <div class="col-md-6 col-sm-12">

                            <div class="form-group">
                                @Html.LabelFor(m => m.Linkdin)
                                @Html.TextBoxFor(m => m.Linkdin, new { @id = "Support-Email-Address", @class = "form-control", @placeholder = "Enter Linkedin URL" })
                                @Html.ValidationMessageFor(m => m.Linkdin, "", new { @class = "text-danger" })

                                @*<label for="Linkedin-URL">Linkedin URL</label>
                                    <input id="Linkedin-URL" type="email" class="form-control" placeholder="Enter Linkedin URL">*@
                            </div>

                        </div>
                    </idv>


                    <div class="row">
                        <!--photo-->
                        <div class="col-md-6  col-sm-12">
                            <label for="for-file1">Default Images for Notes (if Seller do not upload)</label>
                            <div class="form-group">
                                <label for="for-file1" style="width:100%">
                                    <div class="container-for-relative-add-notes">
                                        <input name="DisplayPicture" id="for-file1" class="costume-file-upload-class" type="file" onchange="preview(this, document.getElementById('displayForNote'), document.getElementById('displayNameForNote'));" accept="image/*">
                                        <label class="label-upload-picture-add-notes apply-position-inboth" for="for-file1">
                                            <div class="label-upload-note-preview-add-notes text-center">
                                                <img data-src="/images/User-Profile/upload.png" class="text-center img-fluid" id="displayForNote" src="/images/User-Profile/upload.png">
                                                <p data-name="upload picture" id="displayNameForNote">upload picture</p>
                                            </div>
                                        </label>
                                    </div>
                                </label>

                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <!--photo-->
                        <div class="col-md-6  col-sm-12">
                            <label for="for-file2">Default Profile Picture (if Seller do not upload)</label>
                            <div class="form-group">
                                <label for="for-file2" style="width:100%">
                                    <div class="container-for-relative-add-notes">
                                        <input name="ProfilePicture" id="for-file2" class="costume-file-upload-class" type="file" onchange="Profilepreview(this, document.getElementById('profileForUser'), document.getElementById('profileNameForUser'));" accept="image/*">
                                        <label class="label-upload-picture-add-notes apply-position-inboth" for="for-file2">
                                            <div class="label-upload-note-preview-add-notes text-center">
                                                <img data-src="/images/User-Profile/upload.png" class="text-center img-fluid" id="profileForUser" src="/images/User-Profile/upload.png">
                                                <p data-name="upload picture" id="profileNameForUser">upload picture</p>
                                            </div>
                                        </label>
                                    </div>
                                </label>

                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-2 col-4 offset-4 col-md-3 offset-md-0 offset-sm-4 col-sm-4">
                            <div class="w-submit-btn">

                                <button class="submit-btn text-center" role="button">SUBMIT</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }


    <!--footer-->
    <footer class="fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="w-footer">
                        <p><span class="version-footer">Version:1.1.24</span><span class="rights-description">Copyright &copy; TatvaSoft All rights reserved</span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--jquery-->
    <script src="/javascript/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    <!--bootstrap-->
    <script src="/javascript/bootstrap.js"></script>

    <!--costume script-->
    <script src="/javascript/admin-navbar/admin-script.js"></script>
    <script>


        function preview(img, previewimg, nameimg) {
            if (img.files && img.files[0]) {
                var name = $(img)[0].files[0].name;
                $(nameimg).text(name);
                var mimtype = $(img)[0].files[0]['type'];
                if (mimtype.split('/')[0] === 'image') {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $(previewimg).attr("src", e.target.result);
                    }
                    reader.readAsDataURL(img.files[0]);
                    $(previewimg).css("height", "50px");
                    $(previewimg).css("width", "40px");

                }
            }
            else {
                var src = $("#displayForNote").attr("data-src");
                $("#displayForNote").attr("src", src);
                var name = $("#displayNameForNote").attr("data-name");
                $("#displayNameForNote").text(name);
                $("#displayForNote").css("height", "");
                $("#displayForNote").css("width", "");
            }
        }
        function Profilepreview(profileimg, profilepreviewimg, profilenameimg) {
            if (profileimg.files && profileimg.files[0]) {
                var name = $(profileimg)[0].files[0].name;
                $(profilenameimg).text(name);
                var mimtype = $(profileimg)[0].files[0]['type'];
                if (mimtype.split('/')[0] === 'image') {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $(profilepreviewimg).attr("src", e.target.result);
                    }
                    reader.readAsDataURL(profileimg.files[0]);
                    $(profilepreviewimg).css("height", "50px");
                    $(profilepreviewimg).css("width", "40px");
                }
            }
            else {
                var src = $("#profileForUser").attr("data-src");
                $("#profileForUser").attr("src", src);
                var name = $("#profileNameForUser").attr("data-name");
                $("#profileNameForUser").text(name);
                $("#profileForUser").css("height", "");
                $("#profileForUser").css("width", "");
            }
        }

    </script>
</body>
</html>