<!--header-->
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-expand-md white-top">

        <div class="w-navbar">

            <div class="navbar-header">

                <span id="mobile-nav-open-bar">
                    <hr>
                </span>
                <!--brand logo-->
                <a class="navbar-brand smooth-scroll" href="@Url.Action("Index","Home")">
                    <img src="/images/FAQ/logo.png" class="img-fluid" alt="logo">
                </a>
            </div>



            <div class="collapse navbar-collapse ">
                <ul class="navbar-nav nav">

                    <li class="navbar-text"><a href="@Url.Action("Serch_note","Home")">Search Notes</a> </li>
                    <li class="navbar-text"><a href="@Url.Action("Deshboard","Home")">Sell Your Notes</a></li>
                    <li class="navbar-text"><a href="@Url.Action("ByuerRequest","Home")">Buyer Requests</a></li>
                    <li class="navbar-text"><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                    <li class="navbar-text"><a href="@Url.Action("contact_us","Home")">Contact Us</a></li>
                    <li class="navbar-text img-item">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid rounded-circle" height="30px" width="30px" src="@Url.Action("UserPhoto","User")"></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="@Url.Action("UserProfile","User")">My Profile</a>
                                <a class="dropdown-item" href="@Url.Action("MyDonwloads","User")">My Downloads</a>
                                <a class="dropdown-item" href="@Url.Action("MysoldNotes","User")">My Sold Notes</a>
                                <a class="dropdown-item" href="@Url.Action("MyRejectedNotes","User")">My Rejected Notes</a>
                                <a class="dropdown-item" href="@Url.Action("changePassword","Account")">Change Password</a>
                                <a class="dropdown-item changing-color" href="@Url.Action("Logout","Account")">LOGOUT</a>
                            </div>
                        </div>
                    </li>
                    <li class="navbar-text logout-btn"><a href="@Url.Action("Logout","Account")">Logout</a></li>
                </ul>
            </div>

        </div>

    </nav>

</header>
<section id="mobile-menu">
    <ul class="nav">

        <li class=""><a href="@Url.Action("Serch_note","Home")">Serch Notes</a> </li>
        <li class=""><a href="@Url.Action("Deshboard","Home")">Sell Your Notes</a></li>
        <li class=""><a href="@Url.Action("ByuerRequest","Home")">Buyer Requests</a></li>
        <li class=""><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
        <li class=""><a href="@Url.Action("contact_us","Home")">Contact Us</a></li>
        <li class="img-item"><a href="#"><img height="27px" width="27px" class="rounded-circle" src="@Url.Action("UserPhoto","User")" alt=""></a></li>
        <li class="gayab"><a class="dro" href="@Url.Action("UserProfile","User")">My Profile</a></li>
        <li class="gayab"><a class="dro" href="@Url.Action("MyDonwloads","User")">My Downloads</a></li>
        <li class="gayab"><a class="dro" href="@Url.Action("MysoldNotes","User")">My Sold Notes</a></li>
        <li class="gayab"><a class="dro" href="@Url.Action("MyRejectedNotes","User")">My Rejected Notes</a></li>
        <li class="gayab"><a class="dro" href="@Url.Action("changePassword","Account")">Change Password</a></li>
        <li class="gayab"><a class="dro" href="@Url.Action("Logout","Account")">Logout</a></li>
        <li class="logout-btn"><a href="@Url.Action("Logout","Account")">Logout</a></li>

    </ul>
</section>

