<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-expand-md white-top">

        <div class="w-navbar">

            <div class="navbar-header">

                <span id="mobile-nav-open-bar" class="change">
                    <hr>
                </span>
                <!--brand logo-->
                <a class="navbar-brand smooth-scroll" href="@Url.Action("Index","Home")">
                    <img src="../images/FAQ/logo.png" class="img-fluid" alt="logo">
                </a>
            </div>



            <div class="collapse navbar-collapse ">
                <ul class="navbar-nav nav">

                    <li class="navbar-text"><a href="@Url.Action("Index","admin")">Deshboard</a> </li>
                    <li class="navbar-text notes-item">


                        <div class="dropdown">
                            <a class="dropdown-toggle" href="" id="dropdownMenuforNotes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notes</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuforNotes">
                                <a class="dropdown-item" href="@Url.Action("NotesUnderReview","admin")">Notes Under Review</a>
                                <a class="dropdown-item" href="@Url.Action("allPublishedNotes","admin")">Published Notes</a>
                                <a class="dropdown-item" href="@Url.Action("allDownloadNotes","admin")">Downloaded Notes</a>
                                <a class="dropdown-item" href="@Url.Action("rejectednotes","admin")">Rejected Notes</a>

                            </div>
                        </div>

                    </li>
                    <li class="navbar-text"><a href="@Url.Action("allmember","admin")">Members</a></li>
                    <li class="navbar-text"><a href="@Url.Action("spamReport","SuperAdmin")">Reports</a></li>
                    <li class="navbar-text setting-item">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" id="dropdownSettingButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Setting</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownSettingButton">
                                <a class="dropdown-item" href="@Url.Action("systemConfiguration","SuperAdmin")">Manage System Configuration</a>
                                <a class="dropdown-item" href="@Url.Action("administrator","SuperAdmin")">Manage Administrator</a>
                                <a class="dropdown-item" href="@Url.Action("manageCategory","SuperAdmin")">Manage Category</a>
                                <a class="dropdown-item" href="@Url.Action("managetype","SuperAdmin")">Manage Type</a>
                                <a class="dropdown-item" href="@Url.Action("ManageCountry","SuperAdmin")">Manage Countries</a>

                            </div>
                        </div>
                    </li>
                    <li class="navbar-text img-item">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid rounded-circle" height="30px" width="30px" src="@Url.Action("UserPhoto","User")"></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="@Url.Action("AdminProfile","SuperAdmin")">Update Profile</a>
                                <a class="dropdown-item" href="@Url.Action("changePassword","Account")">Change Password</a>
                                <a class="dropdown-item changing-color" href="@Url.Action("Logout","Account")">LOGOUT</a>
                            </div>
                        </div>
                    </li>
                    <li class="navbar-text logout-btn"><a href="@Url.Action("Logout","Account")">Logout</a></li>
                </ul>
            </div>

        </div>

    </nav>

</header>
<section id="mobile-menu">
    <ul class="nav">
       
        <li class=""><a href="1-deshboard.html">Deshboard</a> </li>
        <li class="notes-item">
            <a href="11-note-details.html">Notes</a>
        </li>
        <li class="notes-gayab"><a class="dro" href="@Url.Action("NotesUnderReview","admin")">Notes Under Review</a></li>
        <li class="notes-gayab"><a class="dro" href="@Url.Action("allPublishedNotes","admin")">Published Notes</a></li>
        <li class="notes-gayab"><a class="dro" href="@Url.Action("allDownloadNotes","admin")">Downloaded Notes</a></li>
        <li class="notes-gayab"><a class="dro" href="@Url.Action("rejectednotes","admin")">Rejected Notes</a></li>
        
        <li class=""><a href="@Url.Action("allmember","admin")">Members</a></li>
        <li class=""><a href="@Url.Action("spamReport","SuperAdmin")">Reports</a></li>
        <li class="setting-item">
            <a href="#">Settings</a>
        </li>

        <li class="setting-gayab"><a href="@Url.Action("systemConfiguration","SuperAdmin")">Manage System Configuration</a></li>
        <li class="setting-gayab"><a href="@Url.Action("administrator","SuperAdmin")">Manage Administrator</a></li>
        <li class="setting-gayab"><a href="@Url.Action("manageCategory","SuperAdmin")">Manage Category</a></li>
        <li class="setting-gayab"><a href="@Url.Action("managetype","SuperAdmin")">Manage Type</a></li>
        <li class="setting-gayab"><a href="@Url.Action("ManageCountry","SuperAdmin")">Manage Countries</a></li>
        <li class="img-item">

            <a href="#">   <img class="img-fluid rounded-circle" height="27px" width="27px" src="@Url.Action("UserPhoto","User")"></a>

        </li>

        <li class="gayab"><a class="dro" href="@Url.Action("AdminProfile","SuperAdmin")">Update Profile</a></li>
        <li class="gayab"><a class="dro" href="@Url.Action("changePassword","Account")">Change Password</a></li>
        <li class="gayab"><a class="dro" href="@Url.Action("Logout","Account")">Logout</a></li>

        <li class="logout-btn"><a href="@Url.Action("Logout","Account")">Logout</a></li>

    </ul>
</section>

